<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account Verification</title>
    <style>
      .container {
        width: 100%;
        height: 100vh;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
        background-image: url("https://i.pinimg.com/originals/ee/50/de/ee50dec983d90280a90a40afbe5be29d.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      img {
        width: 100px;
        height: 100px;
      }
      .wrapper {
        background-color: white;
        display: flex;
        flex-direction: column;
        border-radius: 5px 5px 0px 0px;
        align-items: center;
        width: 300px;
        margin-top: 20px;
        height: auto;
        border-radius: 0px 0px 5px 5px;
      }

      @media (max-width: 500px) {
        p {
          font-size: 15px;
          width: 300px;
        }
        .container {
          background-image: none;
        }
        .cheer {
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 150px;
        }
        .wrapper {
          width: 350px;
          flex-direction: column;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .cheer {
        width: 100%;
        background-color: #2e53ef;
        margin-top: 10px;
        border-radius: 0px 0px 5px 5px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
      }

      .contents {
        display: flex;
        justify-self: center;
        flex-direction: column;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="wrapper">
        <div class="contents">
          <h2><b>Hi <%= name %></b></h2>
          <br />
          <h2 style="margin: 0"><b>Congratulations!!!</b></h2>
          <br />
          <p style="text-align: center; margin: 0">
            <b>Thank you for creating an account with us.</b>
          </p>
          <br />
          <p style="text-align: center; font-weight: 500; margin: 0">
            Please verify that your email address is <b><%= email %></b>, and
            that you entered it when <br />
            signing up on our Football Prediction Site.
          </p>
          <br />
          <p style="text-align: center; font-weight: 500; margin: 0">
            <strong>Your OTP IS</strong>
            <b style="font-size: 20px">: <%= userOTP %></b>
          </p>

          <br />

          <br />
          <p style="text-align: center; margin: 0">
            Remember, we don't just predict the game, we enhance your football
            journey!
          </p>
        </div>
        <div class="cheer">
          Cheers to Healthy Predictions! <br />
          The Prediction Team
        </div>
      </div>
    </div>
  </body>
</html>
