<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css" />
  <title>Document</title>
</head>
<body>
  <container>
    <row>
      <columns small="12" >
        
        <table class="one-column" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-spacing:0; border-left:1px solid #e8e7e5; border-right:1px solid #e8e7e5; border-bottom:1px solid #e8e7e5; padding: 10px" bg="#FFFFFF">
          
          <div width="650px" height="250px" align="center" style="border-radius: 4px">
            <img src="https://res.cloudinary.com/dxwae6kod/image/upload/v1677752396/phoenix_main_logo_t0inqr.png" width="250px" height="120px"  style="padding-top:5px; object-fit: contain" alt="" border="0"/>
            
           </div>

          <tr>
            <td align="center" style="padding:0px 40px 40px 40px"><p style="color:#262626; font-size:32px; text-align:center; font-family: Verdana, Geneva, sans-serif">Hello! <br> <%= name %></p>
                <b style="color:#000000; font-size:16px; text-align:left; font-family: Verdana, Geneva, sans-serif; line-height:22px ">
                Password Reset!!!</b><br/>
                 if this is not comming from you, then there is high chances that you're being attacked... so, please ignore this mail else use the link below to finish up the process!</br>
                <br/>
                <br/>
                Use this Button below to Reset your PASSWORD!!!

                <div>
                  <br/>
                  <br/>
                  <a 
                    href="<%= url %>/api/school/<%= id %>/<%= myToken %>/reset" 
                  referrerpolicy="no-referrer" target="_blank" 
                  style="text-decoration: none;
                  padding: 20px 30px;
                  color: white;
                  margin-top: 50px;
                  background-color: #000269;
                  border-radius: 2px;
                  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                  "
                  >Reset my PASSWORD</a>
                </div>
                
                <br />
            </p></td>
          </tr>
        </table>
      </columns>
    </row>
</container>
</body>
</html>