<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Verification</title>
</head>
<body>
    <container>
        <img src="https://res.cloudinary.com/dev-sylvia/image/upload/v1682590094/uiqz316o8wzfddmz78sx.png"  width="250px" height="120px"  style="padding-top:5px; object-fit: contain" alt="">
        <div style="color: chartreuse; font-size: large;"><b>HELLO SYLVIA</b></div>
        <br/>
        <b style="font-size: 50px; color: black;">Congratulations!!!!
        <br/>
        Thank you for signing up
        </b>
        <br/>
        Now you can predict scores of matches and get to make small money out of it
        <br/>

        <strong style="color: red">
            Use this Button below to make your prediction experience worthwile and enjoyable
        </strong>

        <div>
            <br/>
            <a href="" target="_blank" style="background-color:blue; color: white; padding: 20px 10px 20px 10px;">Activate Your Account</a>
        </div>
        

    </container>
</body>
</html>